.countdown-media {
    margin-top: 30px;
    text-align: center;
}

.countdown-media .separator {
    color: white;
    font-size: 12px;
    height: 4px;
}

.countdown-media .fb-button {
    padding: 4px 9px 5px 9px;
    color: #fff;
    cursor: pointer;
    background-color: #3b5998;
    border-radius: 3px;
    font-weight: bold;
    box-sizing: border-box;
    line-height: normal !important;
}

.countdown-media .fb-button span {
    padding: 0;
    margin: 0;
    line-height: normal;
    align-content: center;
}

.countdown-media .fb-button:hover {
    background-color: #193776;
}

.countdown-media .fb-button span {
    font-size: 12px;
}

.countdown-footer {
    font-size: 0.8em;
    margin: 20px 15px 15px;
    text-align: center;
    color: #eee;
}

.countdown-footer a {
    font-weight: bold;
}

.countdown-video {
    padding: 15px;
    margin: 0 auto;
    max-width: 640px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sponsors {
    margin-top: 60px;
}

#sponsors h2 {
    padding: 15px;
}

#sponsors .row {
    padding-bottom: 15px;
    background: transparent;
    margin-bottom: 40px;
}

#sponsors .mobilization-sponsor-logo {
    padding: 0 30px;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

#sponsors .mobilization-sponsor-logo img {
    max-width: 300px;
    max-height: 300px;
}

.registration-button {
    background-color: #1bce7d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 17px 23px;
    text-decoration: none;
    text-transform: uppercase;
}

.registration-button:hover {
    color: #fff;
}

.registration-button:active {
    position: relative;
    top: 1px;
}
