@charset "utf-8";

/*
	++++ Reset ++++
	++++ Preloading Effect ++++
	++++ Home ++++
	++++ Mediaqueries ++++

*/

/*****************************************************/
/* Reset */
/*****************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
input {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
}

.form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

html, body {
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-style: normal;
	overflow:hidden;
}

::-webkit-input-placeholder {
  	color: #999999;
	opacity:1;
	vertical-align:middle;
	font-weight:300;
	letter-spacing: 1px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #999999;
	opacity:1;
	font-weight:300;
	vertical-align:middle;
	letter-spacing: 1px;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #999999;
	opacity:1;
	font-weight:300;
	vertical-align:middle;
	letter-spacing: 1px;
}

:-ms-input-placeholder {
    color: #999999;
	opacity:1;
	font-weight:300;
	vertical-align:middle;
	letter-spacing: 1px;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration:none;
	outline:none;
}

a:focus,a:hover {
	text-decoration:none;
	outline:none;
}

.nopadding-left{
	padding-left:0;
}

.nopadding-right{
	padding-right:0;
}

input, button, select, textarea{
	letter-spacing:1px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	font-size:100%;
	color:#fff;
	margin:0;
	padding:0;
}

body,html {
	width:100%;
	height:100%;
}

h2 {
	font-size:1em;
	font-weight:700;
	display:block;
	letter-spacing:.5em;
	margin-bottom: 2%;
    text-transform: uppercase;
	color:#1bd982;
}
h1 {
    font-size: 4.3em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;

    text-transform: uppercase;

}

.features h2{
	margin-top:10%;
	text-transform:uppercase;
}

p {
	font-size:1.3em;
	width:44%;
	text-align:center;
	color:#fff;
	margin:auto;
	font-weight:300;
	letter-spacing:1px;
}

.align-center {
	text-align:center;
	float:none;
	clear:both;
	overflow:hidden;
	margin:0 auto;
}



/*****************************************************/
/* Preloader */
/*****************************************************/
.preloader {
	background: none repeat scroll 0 0 #101012;
	bottom:0;
	height:100%;
	left:0;
	overflow:hidden!important;
	position:fixed;
	right:0;
	top:0;
	width:100%;
	z-index:99999;
}
.status {
	background: url("/images/page/loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: none;
	height: 104px;
	left: calc(50% - 100px);
	margin: 0 auto;
	opacity: 1;
	overflow-y: hidden;
	position: absolute;
	text-align: center;
	top: calc(50% - 52px);
	width: 100%;
	z-index: 111;
}

/*****************************************************/
/* Home  */
/*****************************************************/
.logo {
	margin-bottom:5%;
}
#title_hr {
    border: 1px solid #1bd982;
    margin: 0.6em auto;
    width: 50px;
}
.counter-logo {
	 margin-bottom: 2%;
}
.is-countdown {
	 margin-top: 2%;
}
.email-add,
.email-add:hover,
.email-add:focus {
	border: 0 none;
    border-radius: 0 !important;
    height: 3.5em;
    outline: medium none;
}



.notify-button {
	background: none repeat scroll 0 0 #1bd982;
    color: #fff;
	height:3.5em;
	border: 0 none;
    border-radius: 0 !important;
	width: 4em;
}

#notifyMe button{
	margin-left:0;
	outline: 0 none;
	padding-left: 1.5em;

}

#notifyMe button:focus{
	background: none repeat scroll 0 0 #1bd982;
    color: #fff;
}
#notifyMe #message {
    margin-top: 2%;
}

.notify-button:hover {
	background: none repeat scroll 0 0 #1bd982;
	color: #fff;
}

.notify-button i{
    font-size:1.3em;
	line-height:1.7;
}

.icon-arrow.right:before{
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.icon-arrow.right:before, .icon-arrow.right:after{
	right:0;
	top:11px;
	-webkit-transform-origin:12.5px 1.5px ;
	-moz-transform-origin:12.5px 1.5px ;
	-ms-transform-origin:12.5px 1.5px ;
	-o-transform-origin:12.5px 1.5px ;
	transform-origin:12.5px 1.5px ;
}
.icon-arrow:after, .icon-arrow:before{
	background-color:#FFFFFF;
	content:" ";
	display:block;
	height:3px;
	position:absolute;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
	width:14px;
}
.icon-arrow.right:after{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

.icon-arrow.right:hover, .notify-button:hover .icon-arrow.right{
	margin-left:0.3em;
}

.icon-arrow.right{
	height:26px;
	width:12px;
}
.icon-arrow{
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	display:block;
	height:12px;
	position:relative;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
	width:26px;
}
.icon-arrow.right:hover span, .notify-button:hover .icon-arrow.right span{
	opacity:1;
	width:20px;
}
.icon-arrow.right span{
	height:3px;
	right:1px;
	top:11px;
	width:0;
}
.icon-arrow span{
	background-color:#FFFFFF;
	color:rgba(0, 0, 0, 0);
	display:block;
	font:0px/0 a;
	opacity:0;
	position:absolute;
	text-shadow:none;
	-webkit-transition:height 0.3s ease 0s, width 0.3s ease 0s, opacity 0.5s ease 0s;
	-moz-transition:height 0.3s ease 0s, width 0.3s ease 0s, opacity 0.5s ease 0s;
	-o-transition:height 0.3s ease 0s, width 0.3s ease 0s, opacity 0.5s ease 0s;
	transition:height 0.3s ease 0s, width 0.3s ease 0s, opacity 0.5s ease 0s;
}
.form-notify {
	margin-top:3.1%;
}

.fa-spin,.fa-check-circle,.fa-exclamation-circle,.fa-spinner {
	display:none;
}

.error #message {
	color: #EC7406;

}
.success #message {
	color: #1bce7c;

}
.wraper {
	height:100%;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	background:url(/images/page/background-pattern.png) repeat scroll 0 0 rgba(0, 0, 0, 0.1) ;
}
.overlay {
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	background: #000 url(/images/page/background-1.png);
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
	background-position:center center;
	z-index:-1;
}
.heading {
	margin-top:8%;
}
video {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}
/*****************************************************/
/* Mediaqueries */
/*****************************************************/
@media only screen and (max-width: 1600px) {
	.countdown-row{
	display:block;
	width:80%;
	margin:0 auto;
	}
	.heading {
	margin-top:5%;
	}
}
@media only screen and (max-width: 1400px) {
	.heading {
	margin-top:10%;
	}
}
@media only screen and (max-width: 1366px) {
	.heading {
	margin-top:5%;
	}
	h1 {
  font-size:3.8em;
}
   .countdown-amount{

	font-size:2.2em;
}
.logo {
	margin-bottom:4%;
}
.form-notify {
	margin-top:2%;
}

}
@media only screen and (max-width: 1280px) {
body {
font-size:80%;
}

}
@media only screen and (max-width: 1024px) {
body {
font-size:100%;
}
.heading {
	margin-top:6%;
}
	.logo {
	margin-bottom:8%;
}
.counter-logo {
	 margin-bottom: 3%;
}
.is-countdown {
	 margin-top: 3%;
}
.form-notify {
	margin-top:3.1%;
}

}
@media only screen and (max-width: 768px){
.heading {
	margin-top:14%;
}
.logo {
	margin-bottom:10%;
}
h1 {
	font-size:4em;
}
.counter-logo {
	 margin-bottom: 4%;
}
.is-countdown {
	 margin-top: 4%;
}
.form-notify {
	margin-top:4.5%;
}

}
@media only screen and (max-width: 991px){


}
@media only screen and (max-width: 800px) {

.countdown-section{
width:50%;
float:left;
}
}
@media only screen and (max-width: 600px) {
h1 {
  font-size:3em;
}
.countdown-amount{

	font-size:2em;
}
.heading {
	margin-top:9%;
}
.logo {
	margin-bottom:6%;
}
#notifyMe {
	margin-bottom:4%;
}
}
@media only screen and (max-width: 568px) {

}
@media only screen and (max-width: 384px) {

body {
	font-size:80%;
}
h1 {
  font-size:2.8em;
}
.countdown-amount{

	font-size:2em;
}
.heading {
	margin-top:15%;
}
.logo {
	margin-bottom:12%;
}

}
@media only screen and (max-width: 320px){

body {
	font-size:70%;
}
.counter-logo {
 margin-bottom: 6%;
}
.is-countdown {
	 margin-top: 6%;
}
.logo {
	width:36%;
	margin-bottom:8%;
}
.heading {
	margin-top:13%;
}
.form-notify {
	margin-top:3.8%;
}
}

@media only screen and (max-width: 240px){

}
