<!--ABOUT-->

<div id="cbx-about" class="cbx-about">
    <div class="cbx-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="cbx-heading">
                        <h2 class="uppercase">
                                    <span class="heading-serial">
                                        <span class="heading-serial-inner">
                                          #
                                        </span>
                                    </span>
                            <span class="title">About the Event</span>
                        </h2>
                        <p class="heading-text-p">
                            <strong>Mobilization</strong> is a conference dedicated to mobile technologies.
                            The main scope is development of mobile solutions aimed at smartphones and tablets,
                            with particular interest in <strong>Android</strong>, <strong>iOS</strong> and
                            <strong>HTML5</strong>.
                        </p>
                    </div>
                </div> <!--//main COL-->
            </div> <!--//main row-->
        </div>
    </div>
</div>
<!--/ABOUT-->

