
<!--CONTACT-->
<section class="text-center section-padding contact-wrap" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
                <h1 class="arrow">Contact</h1>
                <hr>
                <p>Our team looks forward to hearing from you!</p>
            </div>
        </div>
        <div class="row contact-details">
            <div class="col-md-6 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.9s">
                <div class="light-box box-hover">
                    <h2><span>Email</span></h2>
                    <p><a href="mailto:contact@mobilization.pl">contact@mobilization.pl</a><br>
                    </p>
                </div>
            </div>
            <div class="col-md-6 wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="0.9s">
                <div class="light-box box-hover">
                    <h2><span>Phone</span></h2>
                    <p>Marek Defeciński<br>+48 517 725 068
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="social-buttons">
                    <li><a href="https://twitter.com/mobilizationpl" class="social-btn"><i
                            class="fa fa-twitter"></i></a></li>
                    <li><a href="mailto:contact@mobilization.pl" class="social-btn"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/mobilization" class="social-btn"><i
                            class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /CONTACT -->