<footer>
    <div id="cbx-footer" class="cbx-footer">
        <div class="cbx-footer-inner cbx-top-inner">
            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 text-center">
                            <div class="footer-social wow zoomIn" data-wow-delay=".5s">
                                <ul class="list-unstyled list-inline text-center">
                                    <li><a class="sp-fb" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="sp-google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="sp-in" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="sp-" href="#"><i class="fa fa-soundcloud"></i></a></li>
                                    <li><a class="sp-" href="#"><i class="fa fa-video-camera"></i></a></li>
                                </ul>
                            </div>
                            <p class="cbx-copy-right uppercase wow fadeInUp" data-wow-delay=".6s"><span class="span-color2 cbx-copy-symbol">&copy;</span> Copyright 2016. <span class="span-color2">Themeboxr.com. </span>All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div><!--//.CONTAINER-->
            <div class="cbx-top text-center">
                <a href="#cbx-header" class="gotome">
                    <i class="fa fa-angle-double-up"></i>
                    <p>Top</p>
                </a>
            </div>
        </div> <!--//.cbx-inner-->
    </div> <!--//.CBX FOOTER-->
</footer>