<!--HEADER-->
<header>
    <div id="cbx-header" class="cbx-header">

        <div class="cbx-header-inner">

            <nav id="menu-offscroll" class="navbar navbar-default cbx-navbar">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-2">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="logo">
                                    <h2><a href="index.html" class="gotome">Event<span class="span-color">Z</span></a></h2>
                                </div>

                            </div>
                        </div> <!--//.COL 3-->

                        <div class="col-sm-10">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbar-collapse">
                                <ul class="nav navbar-nav cbx-nav-right xs-text-center">
                                    <li><a href="#cbx-speakers" class="gotome">Speakers</a></li>
                                    <li><a href="#cbx-venue" class="gotome">Venue</a></li>
                                    <li><a href="#cbx-schedule" class="gotome">Schedule</a></li>
                                    <li><a href="#cbx-travelinfo" class="gotome">Travel</a></li>
                                    <li><a href="#cbx-sponsored" class="gotome">Sponsors</a></li>
                                    <li><a href="#cbx-register" class="gotome">Register</a></li>
                                    <li><a href="contact.html" class="gotome">Contact</a></li>
                                </ul>
                                <ul class="list-inline pull-right event-ticket">
                                    <li><a href="#cbx-register">Buy Ticket</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div> <!--//.COl 9-->

                    </div><!--//.ROW-->
                </div><!-- /.container -->
            </nav>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="cbx-header-content text-center cbx-regiter-common">
                            <h4 class="wow zoomIn " data-wow-delay=".1s">Get Ready for The Event</h4>
                            <h1 class="uppercase  wow zoomIn " data-wow-delay=".3s">Creative<span class="span-color2"> CONFERENCE</span> 2016</h1>
                            <h5 class="uppercase  wow zoomIn " data-wow-delay=".5s"><span class="uppercase">31 December, 2016,</span> <span class="sspan-color2"> Bangladesh</span></h5>
                        </div>
                        <div class=" text-center">
                            <!--Circular countdown starts -->
                            <div class="lz-countdown-main">
                                <div class="row">
                                    <div class="lz-countdown-container">
                                        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
                                            <div class="row">
                                                <div class="lz-circular-countdown-container" id="cbxcountdown" data-year="2016" data-month="12" data-day="31">

                                                    <!-- days -->
                                                    <div class="lz-circular-clock-item lz-circular-clock-days lz-circular-countdown-time-value col-xs-3">
                                                        <div class="lz-circular-wrap   wow zoomIn " data-wow-delay=".7s">
                                                            <div class="lz-circular-inner">
                                                                <div id="lz-circular-canvas_days" class="lz-circular-clock-canvas"></div>
                                                                <div class="lz-circular-text">
                                                                    <p class="lz-circular-val">0</p>
                                                                    <p class="lz-circular-type-days lz-circular-type-time">Days</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- hours -->

                                                    <div class="lz-circular-clock-item lz-circular-clock-hours lz-circular-countdown-time-value col-xs-3">
                                                        <div class="lz-circular-wrap  wow zoomIn " data-wow-delay=".8s">
                                                            <div class="lz-circular-inner">
                                                                <div id="lz-circular-canvas_hours" class="lz-circular-clock-canvas"></div>
                                                                <div class="lz-circular-text">
                                                                    <p class="lz-circular-val">0</p>
                                                                    <p class="lz-circular-type-hours lz-circular-type-time">Hours</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- minutes -->
                                                    <div class="lz-circular-clock-item lz-circular-clock-minutes lz-circular-countdown-time-value col-xs-3">
                                                        <div class="lz-circular-wrap  wow zoomIn " data-wow-delay=".9s">
                                                            <div class="lz-circular-inner">
                                                                <div id="lz-circular-canvas_minutes" class="lz-circular-clock-canvas"></div>
                                                                <div class="lz-circular-text">
                                                                    <p class="lz-circular-val">0</p>
                                                                    <p class="lz-circular-type-minutes lz-circular-type-time">Minutes</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- seconds -->
                                                    <div class="lz-circular-clock-item lz-circular-clock-seconds lz-circular-countdown-time-value col-xs-3">
                                                        <div class="lz-circular-wrap  wow zoomIn " data-wow-delay="1s">
                                                            <div class="lz-circular-inner">
                                                                <div id="lz-circular-canvas_seconds" class="lz-circular-clock-canvas"></div>
                                                                <div class="lz-circular-text">
                                                                    <p class="lz-circular-val">0</p>
                                                                    <p class="lz-circular-type-seconds lz-circular-type-time">Seconds</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Circular countdown ends -->
                        </div>
                    </div>
                </div> <!--.content ROW-->

            </div><!--//.CONTAINER-->
        </div>
    </div> <!--//.CBX FOOTER-->
</header>
<!--/HEADER-->
