<!--HOME-->
<section id="sec_1" class="autoheight">
    <div class="home-bg"></div>
    <div class="col-lg-10 landing-text-pos align-center">

        <img src="assets/img/page/logo.png" class="main-logo wow animated fadeInDown"/>

        <hr id="title_hr"/>
        <p class="wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">Lodz, Poland. 22 October 2016</p>
        <a class="learn-more-btn btn-effect wow animated fadeIn" data-wow-duration="0.5s" data-wow-delay="1.5s"
           data-scroll href="http://mobilization-vi.evenea.pl/">Attendee registration</a>
    </div>
</section>
<!--/HOME-->
