<nav id="menu-offscroll" class="navbar navbar-default cbx-navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="text-align: left">
                <a href="/" class="gotome"><img src="/assets/img/page/logo-min.png" alt="Mobilization 2017"/></a>
            </div> <!--//.COl 9-->
            <div class="col-sm-8">
                <ul class="list-inline pull-right">
                    <li><a href="/index.html#cbx-about">About</a></li>
                    <li><a href="/code-of-conduct.html">Code of conduct</a></li>
                    <li><a href="https://bit.ly/mobilization7-c4p" class="outline" target="_blank">Call 4 papers</a></li>
                    <li><a href="#" class="event-ticket" target="_blank">Buy ticket</a></li>
                </ul>
            </div> <!--//.COl 9-->
        </div>
    </div><!-- /.container -->
</nav>