<nav id="menu-offscroll" class="navbar navbar-default cbx-navbar">
    <div class="container">
        <div class="row">

            <div class="col-sm-3">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a href="/"><img src="assets/img/page/logo-min-2.png" alt="Mobilization 2017" /></a>
                    </div>
                </div>
            </div> <!--//.COL 3-->

            <div class="col-sm-9">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav cbx-nav-right xs-text-center">
                        <li><a href="/index.html#cbx-about">About</a></li>
                        <li><a href="/code-of-conduct.html">Code of conduct</a></li>
                        <li><a href="/index.html#cbx-sponsored">Sponsors</a></li>
                    </ul>
                    <ul class="list-inline pull-right event-ticket">
                        <li><a href="https://bit.ly/mobilization7-c4p" target="_blank">Call 4 papers</a></li>
                        <li><a href="https://mobilization-vii.konfeo.com/" target="_blank">Buy Ticket</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div> <!--//.COl 9-->

        </div><!--//.ROW-->
    </div><!-- /.container -->
</nav>
